//- extends base template
extends ../includes/base

//- overwride contents
block contents
  div#contents
    ul#menu
      li
        button(data-name='select') select
      li
        button(data-name='index') index
      li
        button(data-name='q', data-option='0') Q1
      li
        button(data-name='q', data-option='1') Q2
      li
        button(data-name='q', data-option='2') Q3
      li
        button(data-name='currect') currect

//- append scripts
block append scripts
  script(src='/js/lib/chikuwa-http.min.js')
  script(src='/js/modules/master.min.js')