!!! 5
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    meta(charset='utf-8')
    block title
      title Event 20130212
    link(rel='stylesheet', href='/css/main.css')

  body
    block header
    block contents
    //- load scripts
    block scripts
      script(src='/js/lib/chikuwa.min.js')
      script(src='/js/lib/socket.io.min.js')
      script(src='/js/main.min.js')
